# virtual environment
venv/
env/
.venv/

# data files (too large for git)
data/raw/mbo/*.dbn
data/raw/mbp10/*.dbn
data/processed/*.parquet
data/raw/*.dbn
data/raw/
data/processed/
data/


# outputs
          
logs/
*.log

# python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# jupyter
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db

# secrets
.env
*.key

#cheat sheets
powershell_cheatsheet.md
todo.md
project_structure.md
goal.md

order_book.xml

#mess/old shit
01_data_exploration_old.ipynb
scrap_for_MBP10_data.ipynb
scripts/process_all_data.py
notebooks/02_volume_nerdPLOT.ipynb
notebooks/zc_volume_profile.png